{% extends 'base.html' %}
{% load static%}
{% block content%}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <link href="{%static 'assets/css/login.css'%}" rel="stylesheet">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">

                <div class="container">
                  <div class="">
                    <div class="col-lg-12 col-md-12 d-flex flex-column align-items-center justify-content-center">
        
                      <div class="d-flex justify-content-center py-4">
                      </div><!-- End Logo -->
        
                      <div class="card mb-3">
        
                        <div class="card-body">
        
                          <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4"><b>Acesse o seu perfil no Safe Wheels</b></h5>
                           
                          </div>
        
                          <form class="row g-3 needs-validation" novalidate action="{%url 'login'%}" method="POST">
                            {% csrf_token %}
        
                            <div class="col-12">
                              <label for="yourUsername" class="form-label">Usuário</label>
                              <div class="input-group has-validation">
                                <input type="text" name="username" class="form-control" id="yourUsername" required>
                                <div class="invalid-feedback">Please enter your username.</div>
                              </div>
                            </div>
        
                            <div class="col-12">
                              <label for="yourPassword" class="form-label">Senha</label>
                              <input type="password" name="password" class="form-control" id="yourPassword" required>
                              <div class="invalid-feedback">Please enter your password!</div>
                            </div>
        
                            <div class="col-12">
                              <div class="form-check">
                                
                              </div>
                            </div>
                            <div class="col-12 ">
                              <button class="btn btn-log w-100" type="submit">Login</button>
                            </div>
                            <div class="col-12">
                              <p><a href="{%url 'register'%}">Criar conta</a></p>
                              <a href="{%url 'forgot'%}">Esqueceu a senha?</a>
                            </div>
                          </form>
        
                        </div>
                      </div>
                     
                    </div>
                    <!-- <div class="col-lg-6 order-1 order-lg-2">
                      <img src="assets/img/LOGO SW3.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
                    </div> -->
                  </div>
                </div>
            </div>
       
      </div>
    </div>

   <div>
    <p></p>
   </div>

    </div>
  </section>

</html>
{% endblock content%}